.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 30px 30px 30px or repeat(3, 1fr)*/
  grid-gap: 0px;
}

.container-img img {
  display: inline-block;
  width: 70%;
  margin: 0% 1% 0 1%;
}

.center {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  text-align: center;
}

.expand-center {
  margin: auto;
  width: 100%;
  /* border: 3px solid green; */
  text-align: center;
}

.detalles {
  font-family: "Mali", sans-serif;
  font-size: 1.5rem;
}

