.grilla-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 30px 30px 30px or repeat(3, 1fr)*/
  grid-gap: 0px; 
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.grilla-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 30px 30px 30px or repeat(3, 1fr)*/
  grid-gap: 40px; 
  padding-top: 3rem;
  padding-bottom: 3rem;
  
}

.center {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  text-align: center;
}

.center-foot{
  text-align: center;
  padding-top: 1rem;
}

.expand-center {
  margin: auto;
  width: 100%;
  /* border: 3px solid green; */
  text-align: center;
}

.detalles {
  font-family: "Mali", sans-serif;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}



