.container-img img {
  display: inline-block;
  width: 70%;
  margin: 10% 1% 0 1%;

}

.header h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.40em;
  margin: 0;
}
.grid-3 { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 30px 30px 30px or repeat(3, 1fr)*/
  grid-gap: 0px;
}

.text-center {
    text-align: center;
    margin: auto;
  }
  
.bg-light {
    background: #fff;
    color: #333;
  }

.services {
    padding: 2rem 0;
  }

.subtitle {
    /* font-family: "Oswald", sans-serif; */
    font-family: 'Mali', sans-serif ;
    /* font-family: 'Carter One', sans-serif ; */
    font-size: 1.5rem;
  }
  
section{
      width: 100%;
      margin: 0;
      color: #fff;
      background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
  }

  section a, p, h3{
    color: #fff;
    font-family: "Open Sans", sans-serif;

  }
  section h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }


  .contain {
    max-width: 860px;
    margin: auto;
    overflow: hidden;
    /* padding: 5rem 0rem; */
    padding-bottom: 3rem;
    text-align: center;
    
  }

  footer {
    padding: 2.2rem;
    
  }
  
  footer p {
    margin: 0;
    color:  #2f3541;
  }


  .bg-dark {
    background: #2f3541;
    color: #f4f4f4;
  }
  .title {
    font-family: 'Mali', sans-serif ;
    font-size: 3.5rem;
  
  }
