.contain {
  overflow: hidden;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

footer {
  padding: 2.2rem;
}

.gradient {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #654ea3; 
  background: -webkit-linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); 
  background: linear-gradient(
    to right,
    #eaafc8,
    #654ea3
  ); 
}

section a, p, h3{
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;

  }

  section a:hover{
    color: slateblue;
    text-decoration: none;
  }

  section h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
  }

  footer p {
    margin: 0;
    color:  #2f3541;
  }

  
   
  
  