.navbar{
  background-color: #343a40;
  height: 90px;
}

.nav-menu{
  margin-top: -55px; 
  line-height: 0px;
  width: 100%;
  text-align: end;
  /* display: none; */
  position: absolute;
  
}
.menu-bars {
 display: none;
}

.nav-text{
  display: inline; 
}

.nav-text a:hover{
  border-radius: 40px;
  background: #d7bde2;
  color: #fff;
  text-decoration: none;
}

.nav-text a{
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  -webkit-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  color: #fff;
  font-family: "Mali", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}
span {
  margin-left: 8px;
}

@media screen and (max-width: 720px) {    
    .menu-bars {
      display: flex;
      margin-left: 1rem;
      font-size: 3rem;
      background: none;
    }

    .nav-menu{
      margin: auto;
      font-family: 'Mali', sans-serif;
      z-index: 1; 
      background-color: #25282c;
      width: 240px;
      height: 100vh;
      display: flex;
      justify-content: center;
      top: 0;
      left: -100%;
      transition: 850ms;
      position: fixed;
    }

    .nav-menu.active {
      left: 0;
      transition: 350ms;
    }

    .nav-text {
      display: flex;
      /* justify-content: flex-start; */
      align-items: center;
      padding: 8px 0px 8px 16px;
      list-style: none;
      height: 60px;
    }

    .nav-text a {
      text-decoration: none;
      color: #f5f5f5;
      font-size: 1.6rem;
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px;
    }

    .nav-text a:hover {
      text-decoration: none;
    }

    .nav-menu-items {
      width: 100%;
    }
    
    .navbar-toggle {
      background-color: #25282c;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    span {
      margin-left: 18px;
    }
  }