.subtitle {
    /* font-family: "Oswald", sans-serif; */
    font-family: 'Mali', sans-serif ;
    /* font-family: 'Carter One', sans-serif ; */
    font-size: 1.5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
