.titles {
    font-family: 'Mali', sans-serif ;
    font-size: 1.8rem;
    padding-bottom: 4rem;
    padding-top: 6rem;
    font-weight: bold;
  }

.fas { color: rgba(194, 146, 189, 0.705); } 

.color{
  color: rgb(108, 83, 165);
}
.center {
  margin: auto;
  width: 40%;
  text-align: center;
}

html{
  font-size: 14px;
}